@model SheridanBankingTeamProject.Models.Entities.User
@{
    ViewData["Title"] = $"{Model.Name}'s Accounts";
}

<nav class="navbar navbar-expand-sm navbar-light bg-secondary bg-opacity-100 border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <div class="navbar navbar-expand-sm w-100">
                <ul class="navbar-nav w-100 justify-content-between mx-5">
                    <li class="nav-item">
                        <h1>SUMMARY</h1>
                    </li>
                    <li class="nav-item">
                        <h1>ACTIVITY</h1>
                    </li>
                </ul>
            </div>
        </div>
</nav> 


<div class='background container-fluid'>
    <div class="d-flex justify-content-around w-100 px-5">
        @foreach (var account in Model.Accounts)
        {
            <div class="card account-card">
                
                
                <h2>@account.AccountName</h2>

                <div class="card-subtitle">
                        <p>$@account.Balance</p>
                </div>
                
                <h5>Recent Transactions</h5>

                <a asp-controller="Home" asp-action="Transfers" asp-route-id="@account.Id" style="text-decoration: none; color: inherit;">
                    <div class="card-transactions">
                        <ul>
                            @foreach(var transaction in account.Transactions.OrderByDescending(t => t.Date).Take(5))
                            {
                                @if(transaction.Amount > 0)
                                {
                                    <li style="color: #7bbc8f;">$@transaction.Amount</li>

                                }
                                else if(transaction.Amount < 0)
                                {
                                    <li style="color: #ce3030;">$@transaction.Amount</li>
                                }
                                else{
                                    <li style="color: #b0b0b0;">$@transaction.Amount</li>

                                }
                            }

                            @if(!account.Transactions.Any()){
                                <h6>No Transactions</h6>
                            }
                                
                        </ul>
                    </div>
                </a>


                <form asp-controller="Home" asp-action="AddMoney" asp-route-accountId="@account.Id" method="post" class="my-3 mb-3">
                    <button type="submit" class="btn btn-secondary transfer-btn">Add $100</button>
                </form>
                <form asp-controller="Home" asp-action="RemoveMoney" asp-route-accountId="@account.Id" method="post" class="mb-3">
                    <button type="submit" class="btn btn-secondary transfer-btn">Remove $100</button>
                </form>

                <form asp-controller="Home" asp-action="DeleteAccount" asp-route-accountId="@account.Id" method="post" class="mb-3">
                    <button type="submit" class="btn btn-danger btn-sm">
                        Delete Account
                    </button>
                </form>

                

            </div>
            
        }
        

        @if(Model.Accounts.Count < 3)
        {
            <div class="card account-card">
                <form asp-controller="Home" asp-action="AddNewAccount" method="post" class="mb-3">

                    <input name="accountName" class="form-control" placeholder="Full Name">

                    <input name="initialBalance" class="form-control" placeholder="Initial Balance">

                    <button type="submit" class="btn btn-secondary transfer-btn">Open an Account</button>
                </form>
            </div>     
        }
        
        
        

    </div>
</div>